* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
  background-color: #b2d8d8;
}

button {
  color: rgb(6, 21, 29);
}
.container {
  background-color: #008080;
  max-width: 600px;
  margin: 20px;
  padding: 30px;
  margin: auto;
}
.navbar {
  background-color: #66b2b2;
  list-style: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  border-radius: 8px;
  overflow: auto;
}
.navbar li {
  float: left;
}
.navbar li a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: white;
}
.navbar li a:hover {
  background-color: #008080;
  color: white;
  font-size: 16.5px;
}
.content {
  background-color: #66b2b2;
}
.deleteBtn {
  background-color: rgb(236, 32, 32);
  border-radius: 5px;
}
.createBtn {
  border-radius: 5px;
  background-color: rgb(7, 179, 7);
}
